.content-margin{
    margin: 60px auto 60px auto;
}

.footer{
    padding:0;
    margin: 0;
    text-align: center; 
}
.footer div{
    padding: 10px;
    width: 100%;
}

.pageImg{
    width: auto;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 20px;
}

.main-page-btn{
    min-height: 100px;
    margin: 4px;
    padding: 40px;
}

.card-header{
    background-color: rgb(21, 137, 231);
    text-align: center;
    font-size: 22px;
    color: white;
}

td div{
   min-height: 50%; 
   height: 100%;
   width: 100%;
}

.visitor-img{
    width: 100px;
}

.v-image{
    width:200px;
    height: 160px;
}