.content-margin{
    margin: 60px auto 60px auto;
}

.footer{
    padding:0;
    margin: 0;
    text-align: center; 
}
.footer div{
    padding: 10px;
    width: 100%;
}

.pageImg{
    width: auto;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 20px;
}

.main-page-btn{
    min-height: 100px;
    margin: 4px;
    padding: 40px;
}

